<app-header></app-header>

<ion-content class="background">

  <div class="ion-text-center ion-padding-top">
    <ion-text class="ion-text-center">ENTRENAMIENTO CANINO</ion-text>
  </div>
  <div class="ion-text-center">
    <img src="/../assets/images/png/p-quieto.png" height="120"/>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        QUIETO
      </ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-text>
        <p >
          Este truco es algo complicado, tu perro debe ser un bueno siguiendo órdenes como para Venir y Sentarse antes de aprender éste truco
        </p>

        <ul>
          <li>Primero debes decirle a tu perro que se siente.</li>
          <li>Mostrarle la palma de tu mano y decir "QUIETO".</li>
          <li>Ve unos pasos atrás y vuelve a decir "QUIETO".</li>
          <li>Si se queda quieto, recompénsalo con algo.</li>
          <li>Ahora ve más atrás y repite el truco.</li>
          <li>Recompénsalo cada vez que se queda quieto un tiempo.</li>
        </ul>
        <br>
        <p>Este truco es un poco difícil así que no te desanimes si a tu perro le toma tiempo de aprenderlo.</p>
      </ion-text>


    </ion-card-content>
  </ion-card>














</ion-content>
