<app-header></app-header>


<ion-content class="background">

  <div class="ion-text-center ion-padding-top">
    <ion-text class="ion-text-center">ENTRENAMIENTO CANINO</ion-text>
  </div>
  <div class="ion-text-center">
    <img src="/../assets/images/png/icono-1.png" height="100"/>
  </div>


<!---->

  <ion-grid class="ion-text-center">
    <ion-row class="ion-text-center ion-justify-content-center">

      <ion-col size="4.5">
        <a routerLink="/quieto">
          <div class="ion-text-center">
            <img src="/../assets/images/png/p-quieto.png" width="250" class="ion-align-items-center"/>
            <p>QUIETO</p>
          </div>
<!--          <ion-card>-->
<!--            <img src="/../assets/images/png/p-quieto.png" height="100px"/>-->
<!--            <ion-card-header class="ion-text-center">-->
<!--              <ion-card-title>QUIETO</ion-card-title>-->
<!--            </ion-card-header>-->
<!--          </ion-card>-->
        </a>
      </ion-col>

      <ion-col size="4.5">
        <a>
          <div class="ion-text-center">
            <img src="/../assets/images/png/p-salto.png" width="250" class="ion-align-items-center"/>
            <p>SALTO</p>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-text-center">
    <ion-row class="ion-text-center ion-justify-content-center">

      <ion-col size="4.5">
        <a>
          <div class="ion-text-center">
            <img src="/../assets/images/png/p-muerto.png" width="250" class="ion-align-items-center"/>
            <p>MUERTO</p>
          </div>
        </a>
      </ion-col>

      <ion-col size="4.5">
        <a>
          <div class="ion-text-center">
            <img src="/../assets/images/png/p-volver" width="250" class="ion-align-items-center"/>
            <p>VOLVER</p>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>
