<app-header></app-header>
<ion-content class="background">

  <div class="ion-text-center ion-padding-top">
    <ion-text class="ion-text-center">ENTRENAMIENTO CANINO</ion-text>
  </div>
  <div class="ion-text-center">
    <img src="/../assets/images/icono-1.png" height="100"/>
  </div>


  <ion-grid class="ion-text-center">
    <ion-row class="ion-text-center ion-justify-content-center">

      <ion-col size="4.5">
        <a routerLink="/quieto">
          <div class="ion-text-center">
            <img src="/../assets/images/p-quieto.png" width="250" class="ion-align-items-center"/>
          </div>
        </a>
      </ion-col>

      <ion-col size="4.5">
        <a routerLink="/salto">
          <div class="ion-text-center">
            <img src="/../assets/images/p-salto.png" width="250" class="ion-align-items-center"/>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-text-center">
    <ion-row class="ion-text-center ion-justify-content-center">

      <ion-col size="4.5">
        <a routerLink="/muerto">
          <div class="ion-text-center">
            <img src="/../assets/images/p-muerto.png" width="250" class="ion-align-items-center"/>
          </div>
        </a>
      </ion-col>

      <ion-col size="4.5">
        <a routerLink="/volver">
          <div class="ion-text-center">
            <img src="/../assets/images/p-volver.png" width="250" class="ion-align-items-center"/>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
