ion-content.background{
  --background: url("/assets/images/png/fondo-entrenamiento.png");
}

ion-text{
  font-size: 1.5rem;
}

p{
  color: #ffffff;
  position: relative;
  margin-top: -45px;
  font-size: 1.5rem;
}

ul, p{
  color: #46b0e0;
  font-size: 1rem;
}

ion-card {
  background: white;
}

ion-card-title{
  color: #3a7be0;
}
