<app-header></app-header>

<ion-content class="background">

  <div class="ion-text-center ion-padding-top">
    <ion-text class="ion-text-center">
      <h1 class="ion-padding-bottom">
        ENTRENAMIENTO CANINO
      </h1>
    </ion-text>
  </div>
  <div class="ion-text-center">
    <a routerLink="/options">
    <img src="/../assets/images/p-salto.png" height="140"/>
    </a>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <h2 class="ion-padding-bottom">
          SALTO
        </h2>
      </ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-text>
        <p >
          Comienza poniendo una barra fija a un nivel bajo. Párate al otro lado sosteniendo una recompensa
        </p>

        <ul>
          <li>Primero debes decirle "SALTA".</li>
          <li>Tan pronto como el perro salte dale la recompensa.</li>
        </ul>
        <br>
        <p>Repite éste truco de 5 a 10 veces para que tu perro lo entienda muy bien.</p>
      </ion-text>

    </ion-card-content>
  </ion-card>

</ion-content>
