<app-header></app-header>

<ion-content class="background">

  <div class="ion-text-center ion-padding-top">
    <h1 class="ion-padding-bottom">
      <ion-text class="ion-text-center">ENTRENAMIENTO CANINO</ion-text>
    </h1>
  </div>
  <div class="ion-text-center">
    <a routerLink="/options">
    <img src="/../assets/images/p-muerto.png" height="140"/>
    </a>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <h2 class="ion-padding-bottom">MUERTO</h2>
      </ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-text>
        <p >
          Este truco puede ayudarte a mantener tranquilo a tu perro.
        </p>

        <ul>
          <li>Primero debes sostener recompensa en tus manos.</li>
          <li>Debes guiarlo mediante las recompensas para que siga el movimiento de tus manos.</li>
          <li>Cuando se encuentre junto a tu mano en el suelo di "HAZTE EL MUERTO".</li>
          <li>Trata de mantenerlo totalmente recostado mientras le das la recompensa.</li>
          <li>Ahora aleja cada vez más la mano y repite el truco.</li>
          <li>Recompénsalo cada vez que se queda quieto un tiempo.</li>
        </ul>
        <br>
        <p>Este truco require de varias repeticiones.</p>
      </ion-text>

    </ion-card-content>
  </ion-card>

</ion-content>
