<app-header></app-header>

<ion-content class="background">

  <div class="myClass">
    <ion-grid>
      <br>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-text color="dark" >
            <h1>CARGANDO...</h1>
            <p class="parrafos-blancos">¡Por favor espera!</p>
          </ion-text>
          <ion-spinner class="spinner" name="bubbles" color="dark" *ngIf="show"></ion-spinner>
          <ion-img side="center" src="/assets/images/p-inicio" style="height:40%" ></ion-img>
          <ion-text color="dark" class="titulos" >
            <h1>SABÍAS QUE...</h1>
            <p class="parrafos-blancos">Tu perro tiene sentido del tiempo y le haces falta cuando te vas.</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
