<app-header></app-header>

<ion-content class="background">

  <div class="ion-text-center ion-padding-top">
    <h1 class="ion-padding-bottom">
      <ion-text class="ion-text-center">ENTRENAMIENTO CANINO</ion-text>
    </h1>
  </div>
  <div class="ion-text-center">
    <a routerLink="/options">
      <img src="/../assets/images/p-volver" height="140"/>
    </a>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <h2 class="ion-padding-bottom">VOLVER</h2>
      </ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-text>
        <p >
          Este truco te permite traer de vuelta hacia ti a tu perro. Si es que pierdes la correa o si se queda fuera de tu casa.
        </p>

        <ul>
          <li>Primero pon un collar con correa a tu perro.</li>
          <li>Agáchate y di "VEN" y su nombre mientras dejas a un lado la correa.</li>
          <li>Cuando el perro venga dale una recompensa.</li>
        </ul>
        <br>
        <p>Una vez que manejes este truco con la correa puesta, trata de hacerlo removiendo la correa en un lugar tranquilo.</p>
      </ion-text>

    </ion-card-content>
  </ion-card>

</ion-content>
